* {
    margin: 0;
    padding: 0;
}

div .wrapper{
    min-width: 1920px;
    margin: 0 auto;
}

nav {
    background-color: #322e2b;
    font-size: 0; /* to likiwduje wbudowany margines w menu*/
    overflow: hidden;
    list-style: none;
    /* navbar moving while scrolling */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

.ul2{
    float: right;
    padding-right: 30px;
}

.ul2 a{
    display: block;
    padding: 19px 23px;
    transition: .5s;
    text-transform: uppercase;
}

.ul2 a:hover{
    letter-spacing: 4px;
}

nav ul{
    max-width: 94vw;
    float: left;
    /* background-color: #35312f; B1*/
    padding-left: 30px;
} 

.ul2{
    float: right;
    padding-left: 0px;
}

nav ul li{
    display: inline-block;
    transition: 0.7s;
    /* height: 65px; */
} 

nav ul li a{
    display: block;
    box-sizing: border-box; /*może być potrzben przy tworzeniu nav dla telefonów*/
    padding: 19px 23px;
    /* padding: 0 30px ; */
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 900;
    color: #f4e8db;    
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    transition: .5s;
}


.home:hover{
    background-color: #c48538;
}

.home:hover a {
    /* color: #c48538;  */
    color: #FFEBCD;
}

.teoria:hover{
    background-color: #E9E2CF;
}

.teoria:hover a{
    color: #c48538;
}

.excel:hover{
    background-color: #4A6B17;
}

.excel:hover a{
    color: #D3EDAB;
    /* color: #4A6B17; */
}

.access:hover{
    background-color: #a4413a;
}

.access:hover a{
    color: #EFD4D2;
    /* color: #a4413a; */
}

.python:hover{
    background-color: #496998;
}

.python:hover a{
    color: #E9E193;
    /* color: #496998; */
}

.cpp:hover{
    background-color: #6F8DBE;
}

.cpp:hover a{
    /* color: white; */
    color: #6F8DBE;
}

.kompilator:hover{
    background-color: #ccdbf6;
}

.kompilator:hover a{
    color:#35312f;
    /* color: #ccdbf6; */
}

.title{
    border-radius: 50px;
    background-color: #c1a26d6e;
    text-align: center;
    font-size: 45px;
    letter-spacing: 30px;
    text-indent: 30px; /*?jakoś dziwnie*/
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 900;
    color: #322e2b;
    /* margin-top: 10px; */
}

.cont-title{
    padding-top: 10px;
    text-align: center;
    font-size: 25px;
    letter-spacing: 5px;
    line-height: 25px;
    text-indent: 5px; /*?jakoś dziwnie*/
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 900;
    color: #322e2b;
}

main {
    background-color: #f0e9e0; /*#f4e8db;*/
    min-height: 80vh;
    /* padding: 2vw 0; */
    text-align: center;
    display: grid;
    grid-template-columns: 20vw 1fr;
    gap: 3vw;
    padding: 80px 3vw;
}



/* SIDEBAR */

main .contents{
    margin-top: 10px;
}

main .contents .cont{
    display: flex;
    flex-direction: column;
    /* background-color: #35312f; B1 */
    background-color: #f4e8db;
    margin: 1vw 0;
}

main .contents .cont a{
    display: block;
    padding: 12px;
    font-size: 14px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 900;
    color: #f4e8db;
    text-transform: uppercase;
    border: 1px solid #f4e8db;
    border-left-width: 0px;
    border-right-width: 0px;
    letter-spacing: 1px;
    text-decoration: none;
    transition: .7s;
    background-color: #f4e8db
}

main .contents .cont .subtopic{
    margin: 1px 0;
    color: #322e2b;
    text-transform: uppercase;
    border: 3px solid #322e2b;
    background-color: #f4e8db;
}

main .contents .cont .topic{
    color: #f4e8db;
    text-transform: uppercase;
    background-color: #322e2b
}

main .contents .cont .subtopic:hover{
    /* background-color: #c48538; */
    letter-spacing: 3px;
}


/* NAGŁÓWEK - CZEŚĆ */

main .main{
    margin-top: 5px;
}


main article{
    font-family: 'IBM Plex Serif', serif;
    font-size: 17px;
    font-weight: 400;
    background-color: white;
    padding: 20px 30px;
    margin-bottom: 2vw;
    border-width: 3.5px;
    border-style: solid;
    text-align: justify;
}

main article h1{
    font-family: 'Chakra Petch', sans-serif;
    text-transform: uppercase;
    color: #322e2b;
    padding-bottom: 6px;
}

main .second{
    text-justify: inter-word;
    margin: 15px 0; 
    /* border-color: #a4413a; */
    border-color: #322e2b;
    /* background-color: #f8dad8; */
}

main article{
    border-color: #322e2b;
    border-radius: 1px;
}


footer{
    background-color: #35312f;
    height: 120px;
}

@media (max-width: 1200px){
    nav {
        overflow: hidden;
    } 
    
    nav ul li a{
        padding: 15px 17px;
        font-size: 15px;
        letter-spacing: 1.5px;
    }

    .ul2 a{
        padding: 15px 17px;
    }

    main {
        /* padding: 1vw 4vw; */
        grid-template-columns: 21vw 1fr;
        gap: 3vw;
    }

    .cont-title{
        font-size: 18px;
    }

    main .contents .cont a{
        font-size: 14px;
        letter-spacing: 0;
    }


    main article{
        font-size: 15px;
        padding: 15px 25px;
        margin-bottom: 2vw;
    }
    
}

@media(max-width:1000px){
    nav ul{
        padding-left: 10px;
    } 

    .ul2{
        padding-right: 10px;
    }
    
    nav ul li a{
        padding: 15px 10px;
        font-size: 14px;
    }

    .cont-title{
        letter-spacing: 2px;
    }

}

@media (max-width:810px){
    nav{
        position: static; 
        overflow: visible;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100vw;
        float: none;
        max-width: 100%;
        padding-left: 0;
    }

    .ul2{
        padding-right: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100vw;
        float: none;

    }

    .ul2 li{
        border-bottom: 2px solid #EFD4D2;
    }
    
    nav ul li{
        border-top: 2px solid #EFD4D2;
    }

    nav ul li a{
        padding: 15px 0;
        letter-spacing: 3px;
        display: block;
        text-align: center;
    }

    main{
        padding: 30px 1vw;
        grid-template-columns: 22vw 1fr;
        gap: 1vw;
    }

    main .contents .cont a{
        font-size: 13px;
    }
    
    main .contents .cont .subtopic{
        margin: .5px 0;
    }

    .title{
        font-size: 32px;
    }
}

@media (max-width: 600px){
    main article{
        font-size: 14px;
        padding: 10px 15px;
        border-width: 2.5px;

    }

    main article h1{
        text-align: center;
    }
}

@media(max-width:400px){

    .section{
        padding-top: 40px;
    }

    .section .naglowek{
        font-size: 18px;
        /* letter-spacing: 5px;
        text-indent: 5px; */
    }
    
    .section article{
        font-size: 11px;
        line-height: 14px;
        padding: 20px 20px 15px;
    }

    main article{
        font-size: 11px;
        line-height: 14px;
        padding: 8px 10px;
        border-width: 2px;
        text-align: left;
    }

    main article h1{
        font-size: 16px;
    }
}
