* {
    margin: 0;
    padding: 0;
}

.red{
    color: #a4413a;
}

.yellow{
    color: #c48538;
}

.blue{
    color: #2F4858;
}

.green{
    color: #4A6B17;
}

div .wrapper{
    min-width: 1920px;
    margin: 0 auto;
}

nav {
    background-color: #35312f;
    font-size: 0; /* to likiwduje wbudowany margines w menu*/
    height: 65px;
    overflow: hidden;
}

nav div.logo{
    float: right;
    height: 65px; 
} 

nav img{
    padding: 15px 2.25vw;
    height: 35px; 
} 

nav ul{
    float: left;
    list-style: none;
    max-width: 94vw;
    background-color: #35312f;
    height: 65px;
} 

nav ul li{
    display: inline-block;
    transition: 0.5s;
} 

nav ul li a{
    display: block;
    box-sizing: border-box; /*może być potrzben przy tworzeniu nav dla telefonów*/
    padding: 19px 30px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 900;
    color: #f4e8db;    
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
}

.home:hover{
    background-color: #c48538;
}

.home:hover a {
    color: #FFEBCD;
}

.teoria:hover{
    background-color: #E9E2CF;
}

.teoria:hover a{
    color: #c48538;
}

.excel:hover{
    background-color: #4A6B17;
}

.excel:hover a{
    color: #D3EDAB;
}

.access:hover{
    background-color: #a4413a;
}

.access:hover a{
    color: #EFD4D2;
}

.python:hover{
    background-color: #496998;
}

.python:hover a{
    color: #E9E193;
}

.cpp:hover{
    background-color: #6F8DBE;
}

.cpp:hover a{
    color: white;
}

.kompilator:hover{
    background-color: #ccdbf6;
}

.kompilator:hover a{
    color:#35312f;
}

main {
    /* background-image: linear-gradient(#f4e8db, #e2d3c4); */
    /* background-color: #e2d3c4; */
    background-color: #f4e8db;
    min-height: 80vh;
    padding: 4vw 5vw;
    text-align: center;
    display: grid;
    grid-template-columns: 15vw 1fr;
    gap: 5vw;
}

main .contents{
    margin-top: 60px;
}

main .contents .cont{
    display: flex;
    flex-direction: column;
    background-color: #35312f;
}

main .contents div{
    padding: 10px;
    font-size: 20px;
    font-family: 'IBM Plex Serif', serif;
}



main .naglowek{
    /* !!!!!!!!!!!!jak wycentrować h1 względem div (to chyba juz jest wycentrowane) */
    padding-top: 60px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 75px;
    letter-spacing: 70px;
    text-transform: uppercase;
    line-height: 0px;
    color: #c48538;
    text-align: center;

    /* letter-spacing robi spacje za ostatnim znakiem - rozwiązanie problemu */
    display: block;
    margin-right:-70px;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black */
}

main .naglowek h1{
    text-align: center;
}
main article{
    font-family: 'IBM Plex Serif', serif;
    font-size: 17px;
    font-weight: 400;
    background-color: white;
    padding: 20px 30px;
    margin-bottom: 2vw;
}

main article h1{
    font-family: 'Chakra Petch', sans-serif;
    text-transform: uppercase;
    color: #a4413a;
    padding-bottom: 6px;
}

main .first{
    padding-top: 70px;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.2px;
}

main .second{
    text-align: justify;
    text-justify: inter-word;
    margin: 2vw 2vw; 
    border: 3.5px solid #a4413a;
    background-color: #f8dad8;
}

main .third{
    text-align: justify;
    text-justify: inter-word;
    margin: 2vw 2vw; 
    border: 3.5px solid #c48538;
    background-color: #ffead0;
}

main .fourth{
    text-align: justify;
    text-justify: inter-word;
    margin: 2vw 2vw; 
    border: 3.5px solid #2F4858;
}

main .fifth{
    text-align: justify;
    text-justify: inter-word;
    margin: 2vw 2vw; 
    border: 3.5px solid #4A6B17;
}

.color1{
    background-color: #2F4858;
    height: 15px;
}

.color2{
    background-color: #a4413a;
    height: 15px;
}

.color3{
    background-color: #c48538;
    height: 15px;
}

.color4{
    background-color: #4A6B17;
    height: 15px;
}

footer{
    background-color: #35312f;
    height: 120px;
}

@media (max-width: 1200px){
    nav {
        height: 50px;
        overflow: hidden;
    } 
    
    nav img{
        display: none; 
    } 
    
    nav ul{
        height: 50px;
    } 

    nav ul li{
        height: 50px;
    }
    
    nav ul li a{
        padding: 15px 17px;
        font-size: 15px;
        letter-spacing: 1.5px;
        
    }
}

/* coś ten flex nie działa jak powinien */
@media (max-width:810px){
    nav{
        overflow: visible;
        min-height: 357px;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100vw;
        float: none;
        max-width: 100vw;
    }

    nav ul li{
        border-top: 1.5px solid #EFD4D2;
    }

    nav ul li a{
        display: block;
        text-align: center;
    }
}

