@import "node_modules/@fontsource/chakra-petch/300.css";
@import "node_modules/@fontsource/chakra-petch/400.css";
@import "node_modules/@fontsource/chakra-petch/500.css";
@import "node_modules/@fontsource/chakra-petch/700.css";
@import "node_modules/@fontsource/ibm-plex-serif/100.css";
@import "node_modules/@fontsource/ibm-plex-serif/200.css";
@import "node_modules/@fontsource/ibm-plex-serif/300.css";
@import "node_modules/@fontsource/ibm-plex-serif/400.css";
@import "node_modules/@fontsource/ibm-plex-serif/500.css";

:root {
<<<<<<< HEAD
    --font: #a6bcdb;
=======
    /* --primary: #FAF8F1;
    --primary2: #f3ead1;
    --secondary: #FAC213;
    --secondary2: #cea324;
    --accent: #EB6440; */

    --font: #7e8fa8;
>>>>>>> df4fb16 (Changes colors in authors section and footer (dark mode))
    --font-accent: #a6bcdb;
    --primary: #0e033e;
    --primary2: #190a5ac7;
    --primary3: #11034d9e;
    --secondary: #44159d;
    --secondary2: #3d1688de;
    --title: #6991c8;
    --main-accent: #692e8a;
    --accent: #A230ED;
    --slider: black;
<<<<<<< HEAD
    --nav-button-hover: #1616172b;;
    --exercise-secondary: #231366;
    --exercise-secondary2: #140452;
=======
    --card-background: #dee2e71c;
    --card-shadow: #4b4951c7;
    --article-border: #602c7d59;
>>>>>>> df4fb16 (Changes colors in authors section and footer (dark mode))
    /* --line: #a6bcdb; */
}

.gradient {
    background-image: linear-gradient(to left, #9d3dd4, #6d13a8, #6609c4, #4609b9);
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*jeśli coś sie pierdoli to może by to to*/
}

html {
    background-color: var(--primary);
    color: var(--font);
}

div .wrapper {
    margin: 0 auto;
}

.menu-button {
    display: block;
    padding: 12px;
    font-size: 17px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
    color: var(--primary);
    
    margin-bottom: 3px;
    letter-spacing: 1px;
    text-decoration: none;
    transition: .7s;
    background-color: var(--secondary);
    text-align: left;
}

.menu-button:hover {
    background-color: var(--secondary2);
}

.menu-button.nav-button:hover {
    background-color: var(--nav-button-hover);
}