main {
    min-height: 100vh;
    text-align: center;
    padding: 60px 2.5vw;
    font-family: 'Chakra Petch', sans-serif;
    margin: 0 10% 0 10%;
}

main .introduction{
    margin-top: 10px;
    padding: 5px;
    background-color: white;
    border: solid #322e2b 2px;
    border-radius: 10px;
}

main .exercises-title{
    margin-top: 50px;
    /* background-color: #322e2b55;
    border: solid #322e2b 2px;
    border-radius: 10px; */
}

main .exercises-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 10px;
    margin-bottom: 25px;
}

main .exercises-list.python-list {
    flex-direction: column;
}

main .list-element-wrapper {
    display: flex;
    margin-top: 1rem;
}

.subject {
    display: flex;
    text-align: left;
    align-items: center;
    width: 12rem;
}

main .list-element{
    /* padding: 7px; */
    display: flex;
    margin: 2px;
    background-color: #c7c3bfb7;
    border: solid #322e2b 2px;
    border-radius: 15px;
    height: 2rem;;
    min-width: calc(11*1rem);
    justify-content: center;
    align-items: center;
}


main .list-element.number-element{
    min-width: calc(3*1rem);
}

main .category{
    padding: 7px;
    margin: 0 40px;
    letter-spacing: 2px;
    font-weight: bold;
    border-top: solid #322e2b 3px ;
}

@media (max-width:810px) {
    main {
        padding: 0;
    }
}