.section {
    padding-top: 100px;
}

.section .header {
    padding-top: 50px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 55px;
    letter-spacing: 50px;
    text-transform: uppercase;
    line-height: 0px;
    color: var(--main-accent);
    text-align: center;

    /* letter-spacing robi spacje za ostatnim znakiem - rozwiązanie problemu */
    text-indent: 50px;
}

.section .header h1 {
    text-align: center;
}

.section article {
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    background-color: var(--primary3);
    color: var(--font);
    padding: 60px 30px 20px;
    margin: 0 5vw;
    text-align: center;
    letter-spacing: 0.1px;
    border-radius: 25px;
}

main {
    min-height: 80vh;
    text-align: center;
    display: grid;
    grid-template-columns: 16vw 1fr;
    gap: 4vw;
    padding: 2vw 5vw 4vw;
}

/* SIDEBAR */

main .contents {
    margin-top: calc(2vw - 1px);
}

main .contents .cont {
    display: flex;
    position: sticky;
    top: 60px;
    flex-direction: column;
}

main article {
    font-family: 'IBM Plex Serif', serif;
    font-size: 17px;
    font-weight: 400;
    background-color: var(--primary3);
    color: var(--font);
    padding: 20px 30px;
    margin-bottom: 2vw;
    border-width: 2px;
    border-style: solid;
    text-align: justify;
}

main article:last-child{
    margin-bottom: 0;
}

main article h1 {
    font-family: 'Chakra Petch', sans-serif;
    text-transform: uppercase;
    color: var(--main-accent);
    padding-bottom: 6px;
}

.main article {
    text-justify: inter-word;
    margin: 2vw 0;
    border-color: var(--main-accent);
    border-width: 2px;
}

main article {
    border-color: var(--main-accent);
    border-radius: 1px;
}

.separator {
    width: 100%;
    height: 10px;
    background-color: var(--main-accent);
}

.authors {
    padding: 30px 0 40px;
}

.authorsTitle {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 50px;
    letter-spacing: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--title);
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.authors-details-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.author {
    width: 25%;
    flex-direction: column;
    background-color: #dee2e760;
    /* border-bottom: 0.5px black solid; */
    color: var(--main-accent);
    /* border-radius: 45; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 80px; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* .author div:nth-child(2) {
    padding: 0 2.5vw 0 3vw;
} */

.authorName {
    letter-spacing: 3px;
    font-size: 30px;
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
}

.photo {
    padding: 10%;
}

.photo img {
    width: 10vw;
    height: 10vw;
    border-radius: 90%;
    transform: scale(1.3);
}

.introduction {
    text-align: justify;
    font-size: 20px;
    padding: 10%;
}

.authorName a{
    color: black;
    /* vertical-align: middle; */
}

footer{
    font-family: 'Chakra Petch', sans-serif;
    width: 100%;
    background-color: var(--main-accent);
    padding: 30px 0;
    color: var(--primary2);
    text-align: center;
}

footer a{
    text-decoration: none;
    color: var(--primary2);
    transition: .7s;
}

footer .coffee-link{
    color: var(--primary2);
    padding-top: 30px;
}

footer a svg{
    vertical-align: text-bottom;
}

footer a:hover{
    letter-spacing: 2px;
}


@media (max-width: 1200px) {
    .section {
        padding-top: 110px;
    }


    .section .header {
        padding-top: 15px;
        font-size: 50px;
        letter-spacing: 45px;
        text-indent: 45px;
    }

    .section article {
        font-size: 15px;
        padding: 50px 30px 20px;
        margin: 0 4vw;
        line-height: 17px;
    }

    main {
        padding: 1vw 4vw;
        grid-template-columns: 18vw 1fr;
        gap: 3vw;
    }

    main .contents .cont a {
        font-size: 15px;
    }

    main article {
        font-size: 15px;
        padding: 15px 25px;
        margin-bottom: 2vw;
    }

    .authorsTitle {
        letter-spacing: 25px;
        font-size: 50px;
        margin-bottom: 10px;
    }

    .author {
        margin-bottom: 60px;
    }
}

@media(max-width:1000px) {
    .section .header {
        padding-top: 5px;
        font-size: 45px;
        letter-spacing: 40px;
        text-indent: 40px;
    }

    main {
        display: block;
    }

    main .contents {
        display: none;
    }

    .authorsTitle {
        letter-spacing: 20px;
        font-size: 30px;
        margin-bottom: 0px;
    }

    .authorName {
        font-size: 19px;
    }

    .introduction {
        font-size: 13px;
    }

    .author {
        margin-bottom: 50px;
    }

}

@media (max-width:810px) {
    .section {
        padding-top: 55px;
    }

    .section .header {
        font-size: 40px;
        letter-spacing: 25px;
        text-indent: 25px;
    }

    .section article {
        font-size: 15px;
        padding: 50px 30px 20px;
        margin: 0 4vw;
        line-height: 17px;
    }

    .photo img {
        display: none;
    }

    .author {
        padding: 15px 5px;
        border-radius: 0px;
        margin-bottom: 20px;
    }
}

@media (max-width: 600px) {
    .section {
        padding-top: 50px;
    }

    .section .header {
        padding-top: 0px;
        font-size: 25px;
        letter-spacing: 5px;
        text-indent: 5px;
    }

    .section article {
        font-size: 14px;
        padding: 25px 20px 15px;
        margin: 0 4vw;
        line-height: 17px;
        text-align: justify;
    }

    main article {
        font-size: 14px;
        padding: 10px 15px;
        border-width: 2.5px;

    }

    main article h1 {
        text-align: center;
    }

    .authorsTitle {
        letter-spacing: 8px;
        font-size: 25px;
        padding-bottom: 10px;
    }

    .authors {
        padding: 10px 8vw 20px;
    }
}

@media(max-width:400px) {

    .section {
        padding-top: 40px;
    }

    .section .header {
        font-size: 18px;
    }

    .section article {
        font-size: 11px;
        line-height: 14px;
        padding: 20px 20px 15px;
    }

    main article {
        font-size: 11px;
        line-height: 14px;
        padding: 8px 10px;
        border-width: 2px;
        text-align: left;
    }

    main article h1 {
        font-size: 16px;
    }

    .authorName {
        font-size: 15px;
    }

    .introduction {
        text-align: left;
        font-size: 11px;
    }

    .authorsTitle {
        letter-spacing: 6px;
        font-size: 20px;
    }


}