.section {
    background-color: #f0e9e0;
    /*#f4e8db;*/
    padding-top: 100px;
}

.section .naglowek {
    padding-top: 50px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 55px;
    letter-spacing: 50px;
    text-transform: uppercase;
    line-height: 0px;
    color: #c48538;
    text-align: center;

    /* letter-spacing robi spacje za ostatnim znakiem - rozwiązanie problemu */
    text-indent: 50px;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black */
}

.section .naglowek h1 {
    text-align: center;
}

.section article {
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    background-color: white;
    padding: 60px 30px 20px;
    margin: 0 5vw;
    text-align: center;
    letter-spacing: 0.1px;
    border-radius: 25px;
}

main {
    /* background-image: linear-gradient(#f4e8db, #e2d3c4); */
    /* background-color: #e2d3c4; */
    background-color: #f0e9e0;
    /*#f4e8db;*/
    min-height: 80vh;
    text-align: center;
    display: grid;
    grid-template-columns: 16vw 1fr;
    gap: 4vw;
    padding: 2vw 5vw 20px;
}



/* SIDEBAR */

main .contents {
    margin-top: calc(2vw - 1px);
}

main .contents .cont {
    display: flex;
    flex-direction: column;
    /* background-color: #35312f; B1 */
    background-color: #322e2b;
}

main .contents .cont a {
    display: block;
    padding: 12px;
    font-size: 17px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 900;
    color: #f4e8db;
    border: 1px solid #f4e8db;
    letter-spacing: 1px;
    text-decoration: none;
    transition: .7s;
}

main .contents .cont a:hover {
    background-color: #f4e8db;
}

main .contents .cont .a1:hover {
    color: #a4413a;
}

main .contents .cont .a2:hover {
    color: #c48538;
}

main .contents .cont .a3:hover {
    color: #2F4858;
}

main .contents .cont .a4:hover {
    color: #4A6B17;
}

/* NAGŁÓWEK - CZEŚĆ */


main article {
    font-family: 'IBM Plex Serif', serif;
    font-size: 17px;
    font-weight: 400;
    background-color: white;
    padding: 20px 30px;
    margin-bottom: 2vw;
    border-width: 3.5px;
    border-style: solid;
    text-align: justify;
}

main article h1 {
    font-family: 'Chakra Petch', sans-serif;
    text-transform: uppercase;
    color: #322e2b;
    padding-bottom: 6px;
}

.main article {
    text-justify: inter-word;
    margin: 2vw 0;
    border-color: #322e2b;
}

main article {
    border-color: #322e2b;
    border-radius: 1px;
}

.color1 {
    background-color: #2F4858;
    height: 15px;
}

.color2 {
    background-color: #a4413a;
    height: 15px;
}

.color3 {
    background-color: #c48538;
    height: 15px;
}

.color4 {
    background-color: #4A6B17;
    height: 15px;
}

.authors{
    padding: 30px 8vw 40px;
    /* background-color: #f0e9e0; */
}

.authorsTitle{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 50px;
    letter-spacing: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #c48538;
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.author{
    background-color: #c48538;
    border-radius: 45;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

.author:nth-child(odd) {
    flex-direction: row-reverse;
}

.photo img{
    width: 15vw;
    height: 15vw;
    border-radius: 90%;
    transform: scale(1.25);
}

.introduction{
    padding: 0 2.5vw 0 3vw;
    text-align: justify;
}

@media (max-width: 1200px) {
    .section {
        padding-top: 110px;
    }


    .section .naglowek {
        padding-top: 15px;
        font-size: 50px;
        letter-spacing: 45px;
        text-indent: 45px;
    }

    .section article {
        font-size: 15px;
        padding: 50px 30px 20px;
        margin: 0 4vw;
        line-height: 17px;
    }

    main {
        padding: 1vw 4vw;
        grid-template-columns: 18vw 1fr;
        gap: 3vw;
    }

    main .contents .cont a {
        font-size: 15px;
    }

    main article {
        font-size: 15px;
        padding: 15px 25px;
        margin-bottom: 2vw;
    }
}

@media(max-width:1000px) {
    .section .naglowek {
        padding-top: 5px;
        font-size: 45px;
        letter-spacing: 40px;
        text-indent: 40px;
    }

    main {
        display: block;
    }

    main .contents {
        display: none;
    }

}

@media (max-width:810px) {
    .section {
        padding-top: 55px;
    }

    .section .naglowek {
        font-size: 40px;
        letter-spacing: 25px;
        text-indent: 25px;
    }

    .section article {
        font-size: 15px;
        padding: 50px 30px 20px;
        margin: 0 4vw;
        line-height: 17px;
    }
}

@media (max-width: 600px) {
    .section {
        padding-top: 50px;
    }

    .section .naglowek {
        padding-top: 0px;
        font-size: 25px;
        letter-spacing: 5px;
        text-indent: 5px;
    }

    .section article {
        font-size: 14px;
        padding: 25px 20px 15px;
        margin: 0 4vw;
        line-height: 17px;
        text-align: justify;
    }

    main article {
        font-size: 14px;
        padding: 10px 15px;
        border-width: 2.5px;

    }

    main article h1 {
        text-align: center;
    }
}

@media(max-width:400px) {

    .section {
        padding-top: 40px;
    }

    .section .naglowek {
        font-size: 18px;
        /* letter-spacing: 5px;
        text-indent: 5px; */
    }

    .section article {
        font-size: 11px;
        line-height: 14px;
        padding: 20px 20px 15px;
    }

    main article {
        font-size: 11px;
        line-height: 14px;
        padding: 8px 10px;
        border-width: 2px;
        text-align: left;
    }

    main article h1 {
        font-size: 16px;
    }
}