.section {
    padding-top: 100px;
}

.section .header {
    padding-top: 50px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 55px;
    letter-spacing: 50px;
    text-transform: uppercase;
    line-height: 0px;
    color: var(--main-accent);
    text-align: center;

    /* letter-spacing robi spacje za ostatnim znakiem - rozwiązanie problemu */
    text-indent: 50px;
}

.section .header h1 {
    text-align: center;
}

.section article {
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    background-color: var(--primary3);
    color: var(--font);
    padding: 60px 30px 20px;
    margin: 0 5vw;
    text-align: center;
    letter-spacing: 0.1px;
    border-radius: 25px;
}

main {
    min-height: 80vh;
    text-align: center;
    display: grid;
    grid-template-columns: 16vw 1fr;
    gap: 4vw;
    padding: 2vw 5vw 4vw;
}

/* SIDEBAR */

main .contents {
    margin-top: calc(2vw - 1px);
}

main .contents .cont {
    display: flex;
    position: sticky;
    top: 60px;
    flex-direction: column;
}

main article {
    font-family: 'IBM Plex Serif', serif;
    font-size: 17px;
    font-weight: 400;
    background-color: var(--primary3);
    color: var(--font);
    padding: 20px 30px;
    margin-bottom: 2vw;
    border-width: 2px;
    border-style: solid;
    text-align: justify;
}

main article:last-child{
    margin-bottom: 0;
}

main article h1 {
    font-family: 'Chakra Petch', sans-serif;
    text-transform: uppercase;
    color: var(--main-accent);
    padding-bottom: 6px;
}

main article {
    text-justify: inter-word;
    margin: 2vw 0;
    border-width: 2px;
    border-color: var(--article-border);
    border-radius: 1px;
}

.separator {
    width: 94%;
    height: 2px;
    background-color: var(--font);
    margin-left: 3%;
}

.authors {
    padding: 30px 0 40px;
}

.authorsTitle {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 50px;
    letter-spacing: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--title);
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.authors-details-wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 1fr));
    grid-gap: 10px;
    justify-content: space-between;
    justify-items: center;
    align-content: center;
    margin: 3%;
}

.author {
    min-width: 25vw;
    max-width: 30vw;
    flex-direction: column;
    background-color: var(--card-background);
    color: var(--font);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--card-shadow) 0px 2px 8px 0px;
    padding: 10%
}

.authorName {
    letter-spacing: 3px;
    font-size: 25px;
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
}

.photo img {
    width: 15vw;
    height: 15vw;
    border-radius: 90%;
}

.introduction {
    text-align: justify;
    font-size: 20px;
    height: 50%;
}

.authorName {
    padding: 5% 0 5% 0;
    display: table;
}

.authorName a {
    color: var(--font);
    display: table-cell;
    vertical-align: middle;
    text-align: center;
} 

footer{
    font-family: 'Chakra Petch', sans-serif;
    width: 100%;
    padding: 30px 0;
    color: var(--font);
    text-align: center;
}

footer a{
    text-decoration: none;
    color: var(--font-accent);
    transition: .7s;
}

footer .coffee-link{
    padding-top: 30px;
}

footer a svg{
    vertical-align: text-bottom;
}

footer a:hover{
    letter-spacing: 2px;
}


@media (max-width: 1200px) {
    .section {
        padding-top: 60px;
    }

    .section .header {
        padding-top: 15px;
        font-size: 50px;
        letter-spacing: 45px;
        text-indent: 45px;
    }

    .section article {
        font-size: 15px;
        padding: 50px 30px 20px;
        margin: 0 4vw;
        line-height: 17px;
    }

    main {
        padding: 1vw 4vw;
        grid-template-columns: 18vw 1fr;
        gap: 3vw;
    }

    main .contents .cont a {
        font-size: 15px;
    }

    main article {
        font-size: 15px;
        padding: 15px 25px;
        margin-bottom: 2vw;
    }

    .introduction {
        text-align: center;
    }
}

@media(max-width:1000px) {
    .section .header {
        padding-top: 5px;
        font-size: 45px;
        letter-spacing: 40px;
        text-indent: 40px;
    }

    main {
        display: block;
    }

    main .contents {
        display: none;
    }

    .authors-details-wrapper {
        grid-template-columns: none;
        grid-template-rows: repeat(3, 1fr);
        justify-content: center;
        grid-gap: 3%;
    }

    .author {
        min-width: 60vw;
        padding: 7% 10% 7% 10%;
    }

    .authorsTitle {
        letter-spacing: 20px;
        font-size: 30px;
    }

    .authorName {
        font-size: 19px;
        padding: 2% 0;
    }

    .introduction {
        font-size: 15px;
    }
}

@media (max-width:810px) {
    .section {
        padding-top: 55px;
    }

    .section .header {
        font-size: 40px;
        letter-spacing: 25px;
        text-indent: 25px;
    }

    .section article {
        font-size: 15px;
        padding: 50px 30px 20px;
        margin: 0 4vw;
        line-height: 17px;
    }

    .authors-details-wrapper {
        grid-gap: 5%;
    }

    .author {
        box-sizing: content-box;
    }
}

@media (max-width: 600px) {
    .section {
        padding-top: 50px;
    }

    .section .header {
        padding-top: 0px;
        font-size: 25px;
        letter-spacing: 5px;
        text-indent: 5px;
    }

    .section article {
        font-size: 14px;
        padding: 25px 20px 15px;
        margin: 0 4vw;
        line-height: 17px;
        text-align: justify;
    }

    main article {
        font-size: 14px;
        padding: 10px 15px;
        border-width: 2.5px;

    }

    main article h1 {
        text-align: center;
    }

    .authorsTitle {
        letter-spacing: 8px;
        font-size: 25px;
    }
}

@media(max-width:400px) {

    .section {
        padding-top: 40px;
    }

    .section .header {
        font-size: 18px;
    }

    .section article {
        font-size: 11px;
        line-height: 14px;
        padding: 20px 20px 15px;
    }

    main article {
        font-size: 11px;
        line-height: 14px;
        padding: 8px 10px;
        border-width: 2px;
        text-align: left;
    }

    main article h1 {
        font-size: 16px;
    }

    .authorName {
        font-size: 15px;
    }

    .introduction {
        text-align: left;
        font-size: 11px;
    }

    .authorsTitle {
        letter-spacing: 6px;
        font-size: 20px;
    }
}