nav {
    background-color: var(--secondary);
    font-size: 0;
    /* to likiwduje wbudowany margines w menu*/
    overflow: hidden;
    list-style: none;
    /* navbar moving while scrolling */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    border-bottom: 2px solid var(--primary);
}

.ul2 {
    float: right;
    padding-right: 30px;
}

.ul2 a {
    display: block;
    padding: 19px 23px;
    transition: .5s;
    text-transform: uppercase;
}

.ul2 a:hover {
    letter-spacing: 3px;
}

nav ul {
    max-width: 94vw;
    float: left;
    padding-left: 30px;
}

.ul2 {
    float: right;
    padding-left: 0px;
}

nav ul li {
    display: inline-block;
    transition: 0.7s;
}

nav ul li a.menu-button.nav-button {
    margin-bottom: 0;
    background-color: transparent;
}

@media (max-width: 1200px) {
    nav {
        overflow: hidden;
    }


    nav ul li a {
        padding: 15px 17px;
        font-size: 15px;
        letter-spacing: 1.5px;
    }

    .ul2 a {
        padding: 15px 17px;
    }
}

@media(max-width:1000px) {
    nav ul {
        padding-left: 10px;
    }

    .ul2 {
        padding-right: 10px;
    }

    nav ul li a {
        padding: 15px 10px;
        font-size: 14px;
    }
}

@media (max-width:810px) {
    nav {
        position: static;
        overflow: visible;
        border-bottom: 0px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100vw;
        float: none;
        max-width: 100%;
        padding-left: 0;
    }

    .ul2 {
        padding-right: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100vw;
        float: none;

    }

    .ul2 li {
        border-bottom: 2px solid #EFD4D2;
    }

    nav ul li {
        border-top: 2px solid #EFD4D2;
    }

    nav ul li a {
        padding: 15px 0;
        letter-spacing: 3px;
        display: block;
        text-align: center;
    }
}