.title {
    border-radius: 50px;
    background-color: #c1a26d6e;
    text-align: center;
    font-size: 35px;
    letter-spacing: 30px;
    text-indent: 30px;
    /*?jakoś dziwnie*/
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 900;
    color: #322e2b;
    /* margin-top: 10px; */
}

.cont-title {
    padding: 10px 0;
    text-align: center;
    letter-spacing: 1px;
    line-height: 25px;
    text-indent: 5px;
    /*?jakoś dziwnie*/
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 900;
    font-size: 25px;
    color: #322e2b;
}

main {
    background-color: #f0e9e0;
    /*#f4e8db;*/
    min-height: 80vh;
    /* padding: 2vw 0; */
    text-align: center;
    display: grid;
    grid-template-columns: 20vw 1fr;
    gap: 2.5vw;
    padding: 80px 2.5vw;
}



/* SIDEBAR */

main .contents {
    margin-top: 20px;
}

main .contents .cont {
    display: flex;
    flex-direction: column;
    background-color: #f4e8db;
    padding: 0;
    font-size: 14px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}


main .contents .cont .topic {
    font-weight: 900;
    display: flex;
    padding: 10px;
    transition: 1s;
    border: 1px solid #f4e8db;
    border-left-width: 0px;
    border-right-width: 0px;
    background-color: #322e2b;
    color: #f4e8db;
    align-items: center;
    justify-content: space-between;
}

.topic a{
    text-transform: uppercase;
    text-decoration: none;
    color: #f4e8db;
}


main .contents .cont .subtopic {
    display: block;
    padding: 10px;
    transition: .7s;
    /* letter-spacing: 1px; */
    border: 1px solid #f4e8db;
    border-left-width: 0px;
    border-right-width: 0px;
    text-decoration: none;
    margin: 1px 0;
    color: #322e2b;
    border: 3px solid #322e2b;
    background-color: #f4e8db;
    text-align: center;
}

/* main .contents .cont .subtopic .style{
    padding: 12px;
    font-size: 14px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    transition: .7s;
    border: 1px solid #f4e8db;
    border-left-width: 0px;
    border-right-width: 0px;
    letter-spacing: 1px;
} */


main .contents .cont .subtopic:hover {
    letter-spacing: 1px;
}

main .contents .cont .topic:hover{
    background-color: #322e2ba1;
    /* background-color: #322e2b6e; */
    /* background-color: #c1a26d6e; */
}

/* NAGŁÓWEK - CZEŚĆ */

main .main {
    margin-top: 5px;
}


main article {
    font-family: 'IBM Plex Serif', serif;
    font-size: 15px;
    font-weight: 400;
    background-color: white;
    padding: 20px 30px;
    margin-bottom: 2vw;
    border-width: 3.5px;
    border-style: solid;
    text-align: justify;
}

main article h1 {
    font-family: 'Chakra Petch', sans-serif;
    text-transform: uppercase;
    color: #322e2b;
    padding-bottom: 6px;
}

main .second {
    text-justify: inter-word;
    margin: 15px 0;
    /* border-color: #a4413a; */
    border-color: #322e2b;
    /* background-color: #f8dad8; */
}

main article {
    border-color: #322e2b;
    border-radius: 1px;
}

@media(max-width: 1400px){
    main {
        grid-template-columns: 22vw 1fr;
        gap: 1.75vw;
        padding: 80px 1.75vw;
    }
    
}


@media (max-width: 1200px) {
    main {
        grid-template-columns: 23vw 1fr;
        /* gap: 2vw; */
    }

    .cont-title {
        font-size: 23px;
    }

    main .contents .cont a {
        font-size: 13px;
        letter-spacing: 0;
    }


    main article {
        font-size: 15px;
        padding: 15px 25px;
        margin-bottom: 2vw;
    }

}

@media(max-width:1000px) {
    main {
        grid-template-columns: 26vw 1fr;
    }

    main .contents .cont a {
        font-size: 12px;
    }

}

@media (max-width:810px) {
    main {
        padding: 30px 1vw;
        grid-template-columns: 22vw 1fr;
        gap: 1vw;
    }

    main .contents .cont a {
        font-size: 13px;
    }

    main .contents .cont .subtopic {
        margin: .5px 0;
    }

    .title {
        font-size: 32px;
    }
}

/* @media (max-width: 600px){
    main article{
        font-size: 14px;
        padding: 10px 15px;
        border-width: 2.5px;

    }

    main article h1{
        text-align: center;
    }
} */

/* 
@media(max-width:400px){
} */