

.title {
    border-radius: 50px;
    background-color: #c1a26d6e;
    text-align: center;
    font-size: 35px;
    letter-spacing: 30px;
    text-indent: 30px;
    /*?jakoś dziwnie*/
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 900;
    color: #322e2b;
    /* margin-top: 10px; */
    text-transform: uppercase;
}

.cont-title {
    padding: 10px 0;
    text-align: center;
    letter-spacing: 1px;
    line-height: 25px;
    text-indent: 5px;
    /*?jakoś dziwnie*/
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 900;
    font-size: 25px;
    color: #322e2b;
}

main {
    background-color: #f0e9e0;
    /*#f4e8db;*/
    min-height: 80vh;
    /* padding: 2vw 0; */
    text-align: center;
    display: grid;
    grid-template-columns: 20vw 1fr;
    gap: 2.5vw;
    padding: 80px 2.5vw;
}



/* SIDEBAR */

main .contents {
    margin-top: 20px;
}

main .contents .cont {
    /* display: flex; to nie potrzebne
    flex-direction: column; */
    background-color: #f4e8db;
    padding: 0;
    font-size: 14px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}


main .contents .cont .topic {
    font-weight: 900;
    display: flex;
    padding: 10px;
    transition: 1s;
    border: 1px solid #f4e8db;
    border-left-width: 0px;
    border-right-width: 0px;
    background-color: #322e2b;
    color: #f4e8db;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.topic a {
    text-transform: uppercase;
    text-decoration: none;
    color: #f4e8db;
}


main .contents .cont .subtopic {
    display: block;
    cursor: pointer;
    padding: 10px;
    transition: .7s;
    /* letter-spacing: 1px; */
    border-left-width: 0px;
    border-right-width: 0px;
    text-decoration: none;
    margin: 1px 0;
    color: #322e2b;
    border: 3px solid #322e2b;
    background-color: #f4e8db;
    text-align: center;
}

main .contents .cont .subtopic-current {
    /* background-color: #c1a26d6e; */
    background-color: #174f3063;
}

main .contents .cont .subtopic:hover {
    letter-spacing: 1px;
    text-indent: 1px;
}

/* main .contents .cont .subtopic:visited{
    background-color: #7ca57c33;
} */

main .contents .cont .topic:hover {
    background-color: #322e2ba1;
    /* background-color: #322e2b6e; */
    /* background-color: #c1a26d6e; */
}

/* NAGŁÓWEK - CZEŚĆ */

main .main {
    margin-top: 5px;
}


main article {
    /* font-family: 'IBM Plex Serif', serif; */
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 300;
    background-color: #f4e8db;
    padding: 20px 30px;
    margin-bottom: 2vw;
    border-width: 3.5px;
    border-style: solid;
    text-align: justify;
    border-color: #322e2b;
    border-radius: 1px;
    text-justify: inter-word;
    margin: 15px 0;
}

main article h1,
main article h2,
main article h3,
main article h4,
main article h5,
main article h6 {
    font-family: 'Chakra Petch', sans-serif;
    margin-top: 20px;
}

main article h1 {
    text-transform: uppercase;
    color: #322e2b;
    font-size: 25px;
    /* text-align: center; */
}

main article img {
    display: block;
    margin: 0 auto;
    padding: 10px 0;
    
    max-width: 90%;
    width: 100%;
    /* changing images size - Ola*/
    /* max-width: 70%;
    width: 60%; */
    /* end of changes */
}

article .info{
    background-color: rgba(35, 94, 94, 0.619);
    padding: 20px 15px;
    margin: 5px 0;
    border-radius: 5px;
}

main article pre {
    margin: 10px 0;
    white-space: pre-line;
}

.main .controls{
    display: flex;
    justify-content: end; /*space-between*/
    margin: 0 30px;
}

/*to jest do OZNACZ JAKO PRZERIOBIENE*/
/* .controls div:nth-child(1){
    font-family: 'Chakra Petch', sans-serif;
} */

/* .controls div:nth-child(1) label{
    display: flex;
    align-items: self-start;
    cursor: pointer;
    display: none;
} */

/* .controls div:nth-child(1) input{
    height: 20px;
    width: 20px;
    border-radius: 90%;
    appearance: none;
    background: red;
    border: solid 2px black;
    margin-right: 5px;
    transition: transform;
    transition-duration: 1s;
} */

/* 
.controls div:nth-child(1):hover input{
    background: yellow;
    cursor: pointer;
}

.controls div:nth-child(1) input:checked{
    background: rgb(12, 242, 104);

} */

.controls button{
    width: 30px;
    height: 30px;
    border-radius: 90%;
    /* font-size: 30px; */
    margin-left: 10px;
    border: solid 1px transparent;
    background-color: transparent;
    cursor: pointer;
    transition: transform;
    transition-duration: .3s;
} 

.controls button:hover{
    transform: scale(1.3);
}

.ft{
    display: none;
}

/* adding styles for Access section - Ola */
main article img.small-screen{
    max-width: 30%;
}
/* end of changes */

@media(max-width: 1400px) {
    main {
        grid-template-columns: 22vw 1fr;
        gap: 1.75vw;
        padding: 80px 1.75vw;
    }

}


@media (max-width: 1200px) {
    main {
        grid-template-columns: 23vw 1fr;
        /* gap: 2vw; */
    }

    .cont-title {
        font-size: 23px;
    }

    main .contents .cont a {
        font-size: 13px;
        letter-spacing: 0;
    }


    main article {
        font-size: 15px;
        padding: 15px 25px;
        margin-bottom: 2vw;
    }

}

@media(max-width:1000px) {
    main {
        grid-template-columns: 26vw 1fr;
    }

    main .contents .cont a {
        font-size: 12px;
    }

}

@media (max-width:810px) {
    main {
        grid-template-columns: 1fr;
        gap: 0;
        padding: 0;
    }

    main .contents .cont {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-flow: row;
        font-size: 13px;
    }

    main .contents .cont .topic{
        padding: 10 6px;
        border-left: 1px solid #f0e9e0;
        border-right: 1px solid #f0e9e0;
    }

    main .contents .cont .subtopic {
        margin: .5px 0;
    }

    main .contents .cont .subtopic {
        margin: 1px;
        border-width: 2px;
        /* border-left: 0; */
    }

    .title {
        font-size: 32px;
    }

    .ft{
        display: block;
        margin: 0 10px 5px;
    }

    .main > .title{
        display: none;
    }
}

@media (max-width: 600px) {
    main .contents .cont {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    main article{
        padding: 5px 15px;
        font-size: 10px;
        border: 0px;
    }

    .ft{
        letter-spacing: 15px;
        text-indent: 15px;
        font-size: 28px;
    }
}


@media(max-width: 400px){
    main .contents .cont {
        display: grid;
        grid-template-columns: 1fr;

    }
    main article{
        padding: 5px 5px;
    }
}

@media(max-width: 300px){
    .ft{
        letter-spacing: 6px;
        text-indent: 6px;
        font-size: 25px;
    }
}

/* nie da się zmniejszyć poniżej 336px przeszakadza kod (pre) */