.main {
    min-height: 100vh;
    padding: 80px 2.5vw;
    font-family: 'Chakra Petch', sans-serif;
    margin: 0 10%;
}

.exercise_title{
    border-bottom: solid 3px black;
}

.main_content{
    padding: 15px;
}