.main {
    background-color: #3c3c3c;
    height: 100%;
}

.editor {
    display: flex;
    flex-direction: column;
    background-color: #3c3c3c;
}

.editor_monaco {
    flex: 1;
}

.editor_button {
    flex: 1;
    border: 0;
}

.editor_button {
    background: green;
    padding: 1rem;
}

.editor_button:disabled {
    background: gray;
}

.editor_output {
    display: block;
    flex-direction: row;
    overflow-y: auto;
}

.editor_stdout, .editor_stderr {
    flex: 1;
    min-width: 0;
    /* display: flex; */
    flex-direction: row;
}

.editor_stdout p, .editor_stderr p {
    text-align: center;
}

.editor_stdout pre, .editor_stderr pre {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
}

.editor_stdout {
    background: transparent;
}

.editor_stdout p {
    background: transparent;
}

.editor_stderr {
    background: red;
}

/* .editor_stderr p {
    background: rgb(185, 15, 15);
} */

@media (max-width: 810px) {
    .editor_output {
        flex-direction: column;
    }
}