:root {
    --font: #a6bcdb;
    --font-accent: #a6bcdb;
    --primary: #0e033e;
    --primary2: #190a5ac7;
    --primary3: #11034d9e;
    --secondary: #44159d;
    --secondary2: #3d1688de;
    --title: #6991c8;
    --main-accent: #692e8a;
    --accent: #A230ED;
    --slider: black;
    --nav-button-hover: #1616172b;;
    --exercise-secondary: #231366;
    --exercise-secondary2: #140452;
    /* --line: #a6bcdb; */
}

.navbar {
    background-image: linear-gradient(to left, #9d3dd4, #6d13a8, #6609c4, #4609b9);
}


/* for dark mode */
.main .second p img{
    filter: brightness(0.7);
}
