RewriteEngine On

# RewriteCond %{HTTPS} off
# RewriteCond %{HTTP:X-Forwarded-Proto} !https
# RewriteRule (.*) https://wpmii.pl/$1 [L,R=301,NE]

# RewriteCond %{HTTP_HOST} ^www\. [NC]
# RewriteRule (.*) https://wpmii.pl/$1 [L,R=301]

# dla każdego pliku jeśli on nie istnieje to index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]