@import "../node_modules/@fontsource/chakra-petch/300.css";
@import "../node_modules/@fontsource/chakra-petch/400.css";
@import "../node_modules/@fontsource/chakra-petch/500.css";
@import "../node_modules/@fontsource/chakra-petch/700.css";
@import "../node_modules/@fontsource/ibm-plex-serif/100.css";
@import "../node_modules/@fontsource/ibm-plex-serif/200.css";
@import "../node_modules/@fontsource/ibm-plex-serif/300.css";
@import "../node_modules/@fontsource/ibm-plex-serif/400.css";
@import "../node_modules/@fontsource/ibm-plex-serif/500.css";

:root {
    --font: black;
    --font-accent: #322e2b;
    --primary: #f6f8fb;
    --primary2: #cedff69c;
    --primary3: white;
    --secondary2: #92aed4;
    --secondary3: #adc5e7;
    --secondary4: #8098c3;
    --title: #6991c8;
    --main-accent: #322e2b;
    --accent: #8c26d0c9;
    --line: black;
    --slider: #8c26d0c9;
    --nav-button-hover: #94949539;
    --exercise-secondary: #b9d2f3;
    --exercise-secondary2: #94aecf;
    --card-background: #dee2e71c;
    --card-shadow: rgba(99, 99, 99, 0.2);
    --article-border: var(--main-accent);
    --gradient: linear-gradient(to right, #abdee6, #b9d2f3, #bcbbf1, #c6adf9, #c898fb);
    --tools: #cccc;
    --tools2: #fcf8f8cc;
    --screen_filter: brightness(1);
    --logo_filter: brightness(0.2);
    --link-hover: #d08a9a;
    --dropdown: var(--card-background);
}

[data-theme="dark"] {
    --font: #a6bcdb;
    --font-accent: #a6bcdb;
    --primary: #0e033e;
    --primary2: #190a5ac7;
    --primary3: #11034d9e;
    /* --secondary: #44159d; */
    --secondary2: #672ad7a9;
    --secondary3: #6321de;
    --secondary4: #9891ff;
    --title: #6991c8;
    --main-accent: #692e8a;
    --accent: #A230ED;
    --slider: black;
    --nav-button-hover: #1616172b;;
    --exercise-secondary: #231366;
    --exercise-secondary2: #140452;
    --gradient: linear-gradient(to left, #9d3dd4, #6d13a8, #6609c4, #4609b9);
    --card-background: #dee2e71c;
    --card-shadow: transparent;
    --article-border: #602c7d59;
    --tools: #cccc;
    --tools2: #fcf8f8cc;
    --screen_filter: brightness(0.7);
    --logo_filter: brightness(1);
    --link-hover: #7d217b;
    --dropdown: #241C50;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.wrapper {
    height: 100%;
}

.gradient {
    background-image: var(--gradient);
}

/* for dark mode */
.main_content .second p img{
    filter: var(--screen_filter);
}

.main_content .second img.super_small_img,
.main_content .second img.small_img,
.main_content .second img.medium_img,
.main_content .second img.big_img {
    filter: var(--screen_filter);
}

.logo_img{
    fill: var(--font);
}

ol, ul{
    margin-left: 1rem;
}

.main_content .second img.super_small_img{
    max-width: 30%;
}

.main_content .second img.small_img{
    max-width: 50%;
}

.main_content .second img.medium_img{
    max-width: 60%;
}

.main_content .second img.big_img{
    max-width: 70%;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*jeśli coś sie pierdoli to może by to to*/
}

body{
    overflow: overlay;
}

html {
    background-color: var(--primary);
    color: var(--font);
    line-height: 1.6;
}

ol, ul{
    margin-left: 1rem;
}

div .wrapper {
    margin: 0 auto;
}

img.section_logo {
    max-width: 15%;
    padding-left: 2%;
    filter: var(--screen_filter);
}

.menu_button {
    display: block;
    padding: 12px;
    font-size: 17px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
    color: var(--primary);
    
    margin-bottom: 3px;
    letter-spacing: 1px;
    text-decoration: none;
    transition: .7s;
    background-color: var(--secondary3);
    text-align: left;
}

.menu_button:hover {
    background-color: var(--secondary2);
    cursor: pointer;
}

.menu_button.nav_button:hover {
    background-color: var(--nav-button-hover);
}

.bold{
    font-weight: bold;
}

.box_link{
    text-align: right;
}

.link{
    color: var(--font);
    font-weight: 500;
    text-transform: uppercase;
    transition-duration: .5s;
    letter-spacing: .5px;
}

.link:hover{
    color: var(--link-hover);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 5px !important;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: transparent !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: var(--tools);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--tools2);
}

.utterances {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
}

.utterances-frame {
    color-scheme: light;
    position: absolute;
    left: 0;
    right: 0;
    width: 1px;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    border: 0;
}

.separator {
    width: 94%;
    height: 2px;
    background-color: var(--font);
    margin-left: 3%;
}

.color_marked_text {
    color: var(--accent);
    font-weight: bold;
  }
  
  .sql_table tr td,
  .sql_table tr th {
    padding: 5px;
    padding-right: 10px;
  }

  .dropdown_text {
    padding: 0.7rem 1rem;
}
